.container{
    width: 75vw;
    height: 100vh;
    background-color: #DAE5F5;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 94vh;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.encrypted{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width:768px) {
    .img{
        width: 200px;
        
    }
}
